[submodule "src/vendor/bgfx"]
	path = src/vendor/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "src/vendor/imgui"]
	path = src/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "src/vendor/gdl"]
	path = src/vendor/gdl
	url = https://github.com/zeromotivat1on/gdl
