[submodule "Source/Vendor/glm"]
	path = Source/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Source/Vendor/spdlog"]
	path = Source/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Source/Vendor/glfw"]
	path = Source/Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Source/Vendor/bgfx"]
	path = Source/Vendor/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "Source/Vendor/imgui"]
	path = Source/Vendor/imgui
	url = https://github.com/ocornut/imgui
