[submodule "Source/Vendor/glfw"]
	path = Source/Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Source/Vendor/bgfx"]
	path = Source/Vendor/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "Source/Vendor/imgui"]
	path = Source/Vendor/imgui
	url = https://github.com/ocornut/imgui
